<template>
  <v-layout row>
  <AllRecipes :recipeCourseList="courses"/>
    
  </v-layout>
</template>
<script>
import AllRecipes from "~/components/AllRecipes";
import axios from "axios";
export default {
  name:"all-recipes",
  components: {
    AllRecipes,
   
  },
  transition: {
    name: "fade",
    mode: "out-in",
  },
  layout: "default",
  data() {
    return {
      recipeCourseList:[],
      courses: [],
      clipped: false,
      drawer: false,
      fixed: false,

      right: true,
      rightDrawer: false,
      title: "Kitchen Uncut",
      loading: false,
      searchItems: [],
      search: null,
      select: null,
      dishes: ["Salads", "Hot Dishes"],
    };
  },
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    },
  },
  methods: {
    getFarmingCourse(){
         axios
      .post("3.125.12.123:8008/courses/get_section_courses", {
        section: "ae40fc49-2f02-4243-939c-aa64d5efed92",
      })
      .then((res) => {
        console.log(res);
        this.courses = res.data.data;

        console.log(this.farmingCourses);
        const newCourses = Object.entries(this.farmingCourses);
        //console.log(newCourses)
        this.courses.push(newCourses);
        console.log(this.farmingCourses);
        for (const course of newCourses) {
          if (course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230") {
            course[1]["currency"] = "usd";
          } else course[1]["currency"] = "ksh";
          // console.log(newCourses[1]);
        }

        // console.log(newCourses[0]);
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.error(error);
      });
    },
     getRecipeCourse() {
      axios
        .post("3.125.12.123:8008/courses/get_section_courses", {
          section: "c907ffec-8748-46c0-af12-fa2713b7f42c",
        })
        .then((res) => {
          console.log(res);
          this.courses = res.data.data;

          // console.log(this.courses);
          const newCourses = Object.entries(this.courses);
          //console.log(newCourses)
          this.courses.push(newCourses);
          console.log(this.courses);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
    mounted() {
    //this.getCurrency();
     this.getFarmingCourse();
    this.getRecipeCourse();
  },
};
</script>
<style scoped>


body {
  font-family: avenir, sans-serif;
}

main {
  max-width: 800px;
  margin: 20px auto;
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
</style>
            
