<template>
  <!--  Create Cards Based on Objects in an Array -->

  <v-layout column justify-center align-centerstyle="width:100vw">
    <v-card
      flat
      style="background: transparent"
      width="65%"
      height="100%"
      class="mx-auto"
    >
      <v-layout>
        <v-card
          style="background: transparent"
          flat
          width="100%"
          height="100%"
          class="d-flex flex-column profile-card"
        >
          <div class="align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
              <!-- Bg -->
              <div class="pt-16 rounded-top add-course"></div>
              <div
                class="
                  d-flex
                  align-items-end
                  justify-content-between
                  bg-white
                  px-4
                  pt-2
                  pb-4
                  rounded-none rounded-bottom
                  shadow-sm
                "
              >
                <div class="d-flex align-items-center">
                  <div class="lh-1">
                    <h2 class="mb-0">To Add New Course</h2>
                    <p class="mb-0 d-block">
                      Just fill in the form and create your courses
                    </p>
                  </div>
                </div>
                <div class="d-flex d-inline-flex">
                  <a
                    href="/admin/add-course"
                    class="
                      btn btn-primary btn-sm
                      d-none d-md-block
                      mr-2
                      white--text
                      font-weight-bold
                    "
                    >Back to Course</a
                  >
                  <v-btn
                    @click="sendFile"
                    color="#68904f"
                    class="white--text font-weight-bold"
                    >Save</v-btn
                  >
                </div>
              </div>
            </div>
          </div>
        </v-card></v-layout
      >
      <v-layout
        wrap
        class=""
        style="width: 98%; padding-bottom: 16px; margin: 0 auto"
      >
        <v-card width="100%" height="100%" class="">
          <v-layout column style="padding: 20px">
            <v-col md="12" xs="12" sm="12">
              <v-row><h3>New Course</h3></v-row></v-col
            >
            <form  enctype="multipart/form-data">
              <v-container>
                <v-row>
                  <v-col md="12" xs="12" sm="12">
                    <v-col md="12" xs="12" sm="12">
                      <h3>
                        Upload Cover &nbsp<span style="font-size: 10px">
                          *jpeg,jpg,png Format Only</span
                        >
                      </h3>
                      <div class="large-12 medium-12 small-12 cell">
                        <label
                          >File
                          <input
                            type="file"
                            id="file"
                            ref="file"
                          />
                        </label>
                        <v-btn @click="submitFile()">Submit</v-btn>
                      </div>
                      <v-img
                        ref="photo"
                        src=""
                        aspect-ratio="1"
                        class="grey lighten-2"
                        width="100%"
                        max-height="100"
                      >
                        <template v-slot:placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          />
                        </template>
                      </v-img>
                    </v-col>
                  </v-col>
                </v-row>
              </v-container>
            </form>
          </v-layout>
        </v-card>
      </v-layout>
    </v-card>
  </v-layout>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  name: "add-course-cover",
  layout: "default",

  computed: {
    ...mapGetters(["getCourse"]),
  },
  data: () => ({
    file: "",
    image: "",
    items: [" Organic Farming", "Recipe"],
    currency: ["Ksh", "Usd"],

    course: [
      {
        name: "",
        description: "",
        price: 0,
        currency: "",
        code: "",
        slug: "",
        select: "",
        photo: null,
      },
    ],
  }),
  methods: {
    handleImage() {
      this.file = this.$refs.file.files[0];
 
    },
    submitFile() {
      this.file = this.$refs.file.files[0];
      /*
      
                Initialize the form data
            */
      let formData = new FormData();

      /*
                Add the form data we need to submit
            */
      formData.append("file", this.file);
      console.log(formData);

      /*
          Make the request to the POST /single-file URL
        */
      axios
        .post(
          "3.125.12.123:8008/courses/course/",
          {
            name: this.getCourse.name,
            duration: 1,
            description: this.getCourse.description,
            state: this.getCourse.cstate,
            section: this.getCourse.category,
            slug: this.getCourse.slug,
            code: this.getCourse.code,
            currency: this.getCourse.currency,
            amount: this.getCourse.price,
            poster: null,
            video: this.getCourse.video,
            created_by: 1,
            modified_by: 1,
            duration_type: null,
            views: 0,
            about: this.getCourse.about,
            outline: "",
          },
          
        )
         .then(
          (response) => {
            //this.coordinates = response.data;
            this.alert = { type: "success", message: "successful" };
            console.log("response", response);
          },
          (error) => {
            console.log(error);
          }
        ); this.$router.push(
        this.$router.push({
          name: "admin-add-course-details-add-course-cover-add-course-video",
        })
      );
    },

    /*
        Handles a change on the file upload
      */
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
  },
};
</script>

<style scoped>
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.poster-vid {
  height: 100px;
}
.add-course {
  background-image: url(~/assets/images/dash-bg.svg);
  background-size: cover;
  background-color: #68904f;
}
.profile-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.admin-col {
  display: flex;
  flex-direction: column;

  width: 85%;
  height: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904F;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.sum-card {
  border-radius: 8px;
}
.pagination {
  width: 100%;
}
.banner-div {
  height: 100px;
}
</style>