<template>
  <!--  Create Cards Based on Objects in an Array -->

  <v-layout column justify-center align-center style="width: 100vw">
    <v-card
      flat
      style="background: transparent"
      width="75%"
      height="100%"
      class="mx-auto"
    >
      <v-layout>
       <v-card
                style="background: transparent"
                flat
                width="100%"
                height="100%"
                class="d-flex flex-column profile-card"
              >
                <div class="align-items-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <!-- Bg -->
                    <div class="pt-16 rounded-top add-course"></div>
                    <div
                      class="
                        d-flex
                        align-items-end
                        justify-content-between
                        bg-white
                        px-4
                        pt-2
                        pb-4
                        rounded-none rounded-bottom
                        shadow-sm
                      "
                    >
                      <div class="d-flex align-items-center">
                        <div
                          class="
                            mr-2
                            position-relative
                            d-flex
                            justify-content-end
                            align-items-end
                            mt-n5
                          "
                        >
                          <img
                          src="~assets/images/cook.webp"
                            class="
                              avatar-xl
                              rounded-circle
                              border-width-4 border-white
                              position-relative
                            "
                            alt=""
                          />
                          <a
                            href="#!"
                            class="position-absolute top-0 right-0"
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Verified"
                          >
                            <img
                              src="https://codescandy.com/geeks/assets/images/svg/checked-mark.svg"
                              alt=""
                              height="30"
                              width="30"
                              class=""
                            />
                          </a>
                        </div>
                        <div class="lh-1">
                          <h2 class="mb-0">Jenny Wilson</h2>
                          <p class="mb-0 d-block">@Jennywilson</p>
                        </div>
                      </div>
                      <div class="d-inline-flex">
                        <v-btn color="#68904f" class="font-weight-bold white--text mr-2"> Update</v-btn>
                        <v-btn outlined color="#68904f" class="font-weight-bold "> Delete</v-btn>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </v-card></v-layout
      >
      <v-layout wrap class="">
        <v-flex xs12 sm12 md3 lg3
          ><v-card height="100%" class="mr-4">
            <v-layout
              column
              class="hidden-sm-and-down"
              style="width: 100%; height: 100%"
              ><v-flex xs12 md2 lg2 sm12 class="mr-6">
                <v-card flat class="left-nav pa-2" width="100%">
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        :to="`${item.to}`"
                      >
                        <v-list-item-icon>
                          <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                          <v-list-item-title
                            v-text="item.text"
                          ></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list> </v-card></v-flex></v-layout></v-card></v-flex
        ><v-flex xs12 sm12 md9 lg9>
          <v-card height="100%" class="">
            <v-layout column style="padding: 20px">
              <v-layout column class="mb-4">
                <v-layout wrap>
                  <v-flex xs12 sm12 md6 lg6>
                    <v-layout column
                      ><h4>Personal Details</h4>
                      <h5>Edit your Personal information</h5></v-layout
                    > </v-flex
                  ><v-flex xs12 sm12 md6 lg6> </v-flex>
                </v-layout>
              </v-layout>

              <v-layout column>
                <v-layout wrap>
                  <v-flex xs12 sm12 md6 lg6>
                    <h3 class="ma-2">First Name</h3>
                    <v-text-field
                    class="ma-2"
                      v-model="firstname"
                      dense
                      outlined
                      placeholder="first name"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md6 lg6>
                    <h3 class="ma-2"> Last Name</h3>
                    <v-text-field
                    class="ma-2"
                      v-model="lastname"
                      dense
                      outlined
                      placeholder="last name"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout wrap>
                  <v-flex xs12 sm12 md6 lg6>
                     <h3 class="ma-2">Phone</h3>
                    <v-text-field
                    class="ma-2"
                      v-model="phone"
                      type="number"
                      dense
                      outlined
                      placeholder="phone"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md6 lg6>
                    <h3 class="ma-2"> Email</h3>
                    <v-text-field
                    class="ma-2"
                      v-model="email"
                      dense
                      outlined
                      placeholder="email"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout wrap>
                  <v-flex xs12 sm12 md6 lg6>
                     <h3 class="ma-2">Username</h3>
                    <v-text-field
                    class="ma-2"
                      v-model="username"
                      dense
                      outlined
                      placeholder="username"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 sm12 md6 lg6>
                    <v-btn
                      @click="Update()"
                      color="#68904F"
                      class="white--text font-weight-bold"
                      >Update</v-btn
                    >
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-card>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  name: "myProfile",
  layout: "auth",
  data: () => ({
    step: 1,

    items: [
      {
        text: "Home",
        icon: "mdi-home",
        to: "/customer",
      },
      //{ text: "Profile", icon: "mdi-account", to: "/customer/my-profile" },
      { text: "Security", icon: "mdi-account-lock", to: "/customer/security" },
      { text: "My Orders", icon: "mdi-book-open", to: "/orders" },
      //{ text: "Notification", icon: "mdi-bell", to: "/notification" },
      { text: "Sign Out", icon: "mdi-logout", to: "/logout" },
    ],

    firstname: "",
    lastname: "",
    email: "",
    phone: "",
    username: "",
  }),
  mounted() {},
  methods: {
    Update() {
      axios
        .post("3.125.12.123:8008/update_profile/", {
          username: this.username,
          phone_number: this.phone_number,
          first_name: this.firstname,
          last_name: this.last_name,
          email: this.email,
          id: "2781d582-0d08-4cfa-a829-e812300cddd4",
        })
        .then((res) => {
          console.log(res);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
.poster-vid {
  height: 100px;
}
.add-course {
  background-image: url(~/assets/images/cook.webp);
  background-size: cover;
  background-color: #ec6382;
}
.profile-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.admin-col {
  display: flex;
  flex-direction: column;

  width: 85%;
  height: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #6ebe3b;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.sum-card {
  border-radius: 8px;
}
.pagination {
  width: 100%;
}
.banner-div {
  height: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.col-12,
.col-lg-12,
.col-md-12,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.btn {
  display: inline-block;
  font-weight: 600;
  color: #5c5776;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #5c5776;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(117, 79, 254, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn-primary {
  color: #fff;
  background-color: #68904f;
  border-color: #68904f;
}
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #5729fe;
  border-color: #4d1cfe;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(138, 105, 254, 0.5);
}
.btn-primary:disabled {
  color: #fff;
  background-color: #754ffe;
  border-color: #754ffe;
}
.btn-sm {
  padding: 0.5rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
.bg-white {
  background-color: #fff !important;
}
.border-white {
  border-color: #fff !important;
}
.rounded-top {
  border-top-left-radius: 0.25rem !important;
}
.rounded-top {
  border-top-right-radius: 0.25rem !important;
}
.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 0.25rem !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.shadow-sm {
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09) !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
}
.pt-16 {
  padding-top: 7.5rem !important;
}
.mt-n5 {
  margin-top: -2rem !important;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
.avatar-xl {
  width: 5rem;
  height: 5rem;
}
:focus {
  outline: 0;
}
h2 {
  letter-spacing: -0.022rem;
}
.lh-1 {
  line-height: 1;
}
.rounded-top {
  border-top-left-radius: 0.5rem !important;
}
.rounded-top {
  border-top-right-radius: 0.5rem !important;
}
.rounded-bottom {
  border-bottom-right-radius: 0.5rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 0.5rem !important;
}
.border-width-4 {
  border: 4px solid;
}
@media (max-width: 576px) {
  .rounded-none.rounded-bottom {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .rounded-none.rounded-bottom {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
</style>