<template>
  <v-layout row>
    <OrganicFarmingLanding :courseList="courses" />
  </v-layout>
</template>
<script>
import OrganicFarmingLanding from "~/components/OrganicFarmingLanding";
import axios from "axios";
export default {
  name: "organicFarming",

  components: {
    OrganicFarmingLanding,
  },
  transition: {
    name: "fade",
    mode: "out-in",
  },
  layout: "default",
  data() {
    return {
      courses: [],
      farmingCourses: [],
      clipped: false,
      drawer: false,
      fixed: false,

      right: true,
      rightDrawer: false,
      title: "Kitchen Uncut",
      loading: false,
      searchItems: [],
      search: null,
      select: null,
      dishes: ["Salads", "Hot Dishes"],
    };
  },
  mounted() {
    this.getFarmingCourse();
    this.getRecipeCourse();
    
 
  },
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    },
  },
  methods: {
    getFarmingCourse(){
         axios
      .post("3.125.12.123:8008/courses/get_section_courses", {
        section: "ae40fc49-2f02-4243-939c-aa64d5efed92",
      })
      .then((res) => {
        console.log(res);
        this.courses = res.data.data;

        console.log(this.farmingCourses);
        const newCourses = Object.entries(this.farmingCourses);
        //console.log(newCourses)
        this.courses.push(newCourses);
        console.log(this.farmingCourses);
        for (const course of newCourses) {
          if (course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230") {
            course[1]["currency"] = "usd";
          } else course[1]["currency"] = "ksh";
          // console.log(newCourses[1]);
        }

        // console.log(newCourses[0]);
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.error(error);
      });
    },
     getRecipeCourse() {
      axios
        .post("3.125.12.123:8008/courses/get_section_courses", {
          section: "c907ffec-8748-46c0-af12-fa2713b7f42c",
        })
        .then((res) => {
          console.log(res);
          this.courses = res.data.data;

          // console.log(this.courses);
          const newCourses = Object.entries(this.courses);
          //console.log(newCourses)
          this.courses.push(newCourses);
          console.log(this.courses);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

  },
};
</script>
<style scoped>
.videoWrapper {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 40px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:hover:before,
.videoPoster:focus:before {
  border-color: #f00;
}
.videoPoster:hover:after,
.videoPoster:focus:after {
  border-left-color: #f00;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

body {
  font-family: avenir, sans-serif;
}

main {
  max-width: 800px;
  margin: 20px auto;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
</style>
            
