<template>
  <v-container fluid style="background-color: #f5f5f5">
    <v-layout column class="recipe-list">
      <v-layout row>
        <v-flex xs12 md2 lg2 sm12 class="hidden-sm-and-down">
          <v-card
            style="background: transparent"
            flat
            class="left-nav transp-card"
            height="100%"
            width="100%"
          >
            <v-card-text>
              <p
                class="
                  ml-2
                  border-bottom
                  font-weight-bold
                  black--text
                  text-uppercase
                "
              >
                Farming
              </p>

              <ul>
                <li v-for="(course, id) in farmingCourses" :key="id">
                  <NuxtLink :to="`/organic-farming/${course.id}`">
                    {{ course.name }}</NuxtLink
                  >
                </li>
              </ul>
              <p
                class="
                  ml-2
                  border-bottom
                  font-weight-bold
                  black--text
                  text-uppercase
                "
              >
                Recipes
              </p>
              <ul>
                <li v-for="(course, id) in courses" :key="id">
                  <NuxtLink :to="`/organic-farming/${course.id}`">
                    {{ course.name }}</NuxtLink
                  >
                </li>
              </ul>
            </v-card-text>
          </v-card></v-flex
        >

        <v-flex xs12 sm12 md10 lg10>
          <!--  Create Cards Based on Objects in an Array -->

          <v-layout column justify-center align-center class="right-col">
            <v-card flat width="100%" class="d-flex flex-column recipe-card">
              <div class="ml-8 white--text">
                <h1>Organic Farming</h1>
                <p class="font-weight-bold">
                  Learn how to grow healthy, organic and nutrition food.
                </p>
                <v-btn class="brown-btn white--text">Get Started</v-btn>
              </div>
            </v-card>
            <v-sheet width="100%" class="transp-card">
              <v-card-text>
                <h1 class="ma-2">Popular Courses</h1>

                <v-chip-group column multiple>
                  <v-chip filter outlined> Tomato Vegetable Saute </v-chip>
                  <v-chip filter outlined> Leek Soup </v-chip>
                  <v-chip filter outlined> Sandwich Salad </v-chip>
                  <v-chip filter outlined> Chive & Egg </v-chip>
                  <v-chip filter outlined> Tomato Vegetable Saute </v-chip>
                  <v-chip filter outlined> Leek Soup </v-chip>
                  <v-chip filter outlined> Sandwich Salad </v-chip>
                  <v-chip filter outlined> Chive & Egg </v-chip>
                </v-chip-group>
              </v-card-text>
            </v-sheet>
            <hr class="recipe-hr mb-4" />
            <v-card flat width="100%" height="100%" class="what-youll-learn">
              <v-layout wrap>
                <v-flex xs12 md6 lg6 sm12>
                  <v-card
                    width="100%"
                    height="100%"
                    flat
                    class="white--text learn-img"
                  ></v-card
                ></v-flex>
                <v-flex xs12 md6 lg6 sm12>
                  <v-card
                    flat
                    class="transp-card pa-6"
                    height="100%"
                    width="100%"
                  >
                    <v-layout column class="">
                      <v-card-title>What You'll learn :</v-card-title>
                      <v-card-subtitle>
                        <ul>
                          <li>
                            <v-icon color="#000" small
                              >mdi-circle-outline</v-icon
                            >
                            Kitchen Essentials
                          </li>
                          <li>
                            <v-icon color="#000" small
                              >mdi-circle-outline</v-icon
                            >
                            Stocks Preparation
                          </li>
                          <li>
                            <v-icon color="#000" small
                              >mdi-circle-outline</v-icon
                            >
                            Tomatoes Recipes
                          </li>
                          <v-icon color="#000" small>mdi-circle-outline</v-icon>

                          Allium family recipes eg onions

                          <li>
                            <v-icon color="#000" small
                              >mdi-circle-outline</v-icon
                            >
                            What is nutrient in our daily life
                          </li>
                          <li>
                            <v-icon color="#000" small
                              >mdi-circle-outline</v-icon
                            >
                            How does it work in our body
                          </li>
                        </ul>
                      </v-card-subtitle>
                    </v-layout>
                  </v-card></v-flex
                ></v-layout
              ></v-card
            >
            <v-layout row class="max-width">
              <v-layout column class="d-flex justify-space-between pa-4">
                <v-layout
                  row
                  align-center
                  justify-center
                  wrap
                  style="height: 150px"
                >
                  <v-flex xs12 sm12 md6 lg6>
                    <h1 class="text--center mt-4">Farming Courses</h1></v-flex
                  >

                  <v-flex xs12 sm12 md6 lg6 class="d-flex flex-row mt-4">
                    <v-flex xs6 sm6 md4 lg4>
                      <v-text-field
                        class="ma-2 txt-field text-sm-center"
                        :items="items"
                        label="Search"
                        solo
                        color="green"
                        dense
                        prepend-inner-icon="mdi-magnify"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs6 sm6 md4 lg4>
                      <v-select
                        class="ma-2 txt-field"
                        :items="items"
                        label="Filter"
                        solo
                        color="green"
                        dense
                        prepend-inner-icon="mdi-filter"
                      ></v-select>
                    </v-flex>
                  </v-flex>
                </v-layout>

                <v-layout row justify-center align-center wrap>
                  <!--  Create Cards Based on Objects in an Array -->
                  <v-flex
                    xs12
                    md3
                    sm12
                    order-md2
                    order-sm1
                    pa-2
                    v-for="(course, id) in courseList"
                    :key="id"
                  >
                    <v-card
                      to=""
                      width="100%"
                      height="220px"
                      class="d-flex flex-column view-card"
                    >
                      <div style="" class="vid">
                        <NuxtLink :to="`/organic-farming/${course.id}`">
                          <v-btn small icon class="white--text view-btn"
                            ><v-icon>mdi-play</v-icon></v-btn
                          ></NuxtLink
                        >
                      </div>
                      <div style="" class="vid-text">
                        <v-card-text class="my-auto">
                          <div class="d-flex justify-space-between">
                            <h4
                              class="mb-0 text-left black--text text-truncate"
                            >
                              {{ course.name }}
                            </h4>
                            <h6 class="my-auto text-right">
                              {{ course.duration }}
                            </h6>
                          </div>
                          <div>
                            <p class="text-left text-truncate">
                              {{ course.description }}<br />
                            </p>
                          </div>
                          <div>
                            <p class="text-left font-weight-bold black--text">
                              {{ course.currency }} {{ course.amount }}
                            </p>
                          </div>
                        </v-card-text>
                      </div>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-layout>
            <v-layout row class="max-width">
              <v-layout column class="d-flex justify-space-between pa-4">
                <v-layout row justify-end align-center wrap>
                  <v-pagination
                    v-model="page"
                    :length="4"
                    color="#68904F"
                    class="ma-4"
                    circle
                  ></v-pagination>
                </v-layout>
              </v-layout>
            </v-layout>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>
<script>
import axios from "axios";
import OrganicFarmingDescription from "@/components/OrganicFarmingDescription.vue";
export default {
  props: ["courseList"],
  layout: "default",
  components: {
    OrganicFarmingDescription,
  },
  mounted() {
    this.getFarmingCourse();
    this.getRecipeCourse();
  },
  methods: {
  getFarmingCourse() {
      axios
        .post("http:3.125.12.123:8008courses/get_section_courses", {
          section: "ae40fc49-2f02-4243-939c-aa64d5efed92",
        })
        .then((res) => {
          this.farmingCourses = res.data.data;
         // const courseList = Object.entries(this.farmingCourses);
          //console.log(courseList)
          this.farmingCourses.push(courseList);
          console.log(this.farmingCourses);
          for (const course of courseList) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getRecipeCourse() {
      axios
        .post("3.125.12.123:8008courses/get_section_courses", {
          section: "c907ffec-8748-46c0-af12-fa2713b7f42c",
        })
        .then((res) => {
          console.log(res);
          this.courses = res.data.data;

          // console.log(this.courses);
          const newCourses = Object.entries(this.courses);
          //console.log(newCourses)
          this.courses.push(newCourses);
          console.log(this.courses);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
   /* getRecipeeCourse() {
      axios
        .get("3.125.12.123:8008/courses/get_section_courses", {
          id: "c907ffec-8748-46c0-af12-fa2713b7f42c",
        })
        .then((res) => {
          console.log(res);
          this.courses = res.data.data;

          // console.log(this.courses);
          const newCourses = Object.entries(this.courses);
          //console.log(newCourses)
          this.courses.push(newCourses);
          console.log(this.courses);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },*/
  },
  data: () => ({
    page: 1,
    items: ["Free", "Paid", "Video", "Text"],

    nav_item: [
      { title: "Dashboard", icon: "mdi-view-dashboard" },
      { title: "Photos", icon: "mdi-image" },
      { title: "About", icon: "mdi-help-box" },
    ],
    right: null,
  }),
};
</script>

<style scoped>
.d {
  transform: scale(1.5);
}
.greyy-div {
  background-image: url(assets/images/banner.jpg);
  background-size: cover;
  height: 700px;
  width: 100vw;
}
.grey-div {
  background-color: #fff;
}
.dancing-font {
  font-family: "Dancing Script", cursive;
  font-size: 34px;
}
.green-text {
  color: #68904f;
}
.body-txt {
  font-family: "Poppins", sans-serif;
}
.recipe-hr {
  border: solid 1px #dcdee1;
  width: 100%;
}
.transp-card {
  background: transparent;
}
.recipe-card {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  height: 250px;
  width: 100%;
  padding: 5px;

  background-image: url(assets/images/tomato.jpg);
  background-size: cover;
  background-position: bottom;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.view-card {
  border-radius: 5px;
}
.view-card:hover .vid .view-btn {
  display: block;

  border-radius: 50%;
  font-size: 17px;

  background-color: #da2216;
}
.why-us-card {
  width: 75vw;
}
.what-youll-learn {
  width: 100%;
}
.learn-img {
  height: 100%;
  width: 100%;
  border-radius: 8px 0 0 8px;
  background-image: url(assets/images/tom.jpg);
  background-size: cover;
  background-position: center;
}
.recipe-list {
  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 20px auto;
}
ul {
  list-style-type: none;

  padding: 0;
  width: 100%;
  height: 100%;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904f;
  color: white;
}

li a:hover {
  background-color: #addc8e;
  color: white;
}
.left-nav {
  display: flex;
  flex-direction: column;

  background-color: #f5f5f5;
}
.right-col {
  width: 100%;
}
.max-width {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
</style>