<template>
  <v-layout column justify-center align-center>
      <v-layout
        row
        align-center
        justify-center
        wrap
        class="pa-4 greyy-div"
      >
        <!--  Create Cards Based on Objects in an Array -->
        <v-flex xs12 md6 lg6 sm12>
          <v-card
            flat
            color="#DBD7D1"
            class="
              d-none d-md-flex
              flex-column
              align-center
              justify-center
              stats-card
            "
          >
            <v-layout row justify-center align-center class="font-orange">
              <v-flex xs12 sm12 md12 lg12>
                <p class="p-head body-txt text-center mt-4 pa-2">
                  Global Deaths due to Non-Communicable Diseases
                </p>
                <p class="p-head1 body-txt text-center red--text">15 Million</p>
                <p class="p-head body-txt text-center mt-4 pa-2">
                  12.75 Million from low income countries
                </p>
                <hr class="hr mr-auto" />
                <p class="body-txt font-weight-bold text-center mt-6">
                  Source :
                  <a
                    class="red--text"
                    target="_blank"
                    href="https://www.who.int/health-topics/noncommunicable-diseases#:~:text=Noncommunicable%20diseases%20(NCDs,burden%20of%20NCDs."
                    >WHO 2021 Report</a
                  >
                </p>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    items: ["Free", "Paid", "Video", "Text"],
    cards: [
      {
        title: "Potatoes & Managu",
        src: require("../assets/videos/banner-video.mp4"),
        to: "scroll",
        description: "Nam  Curabitur quis euismod.",
        price: "Usd 12",
        time: "2hr",
      },
      {
        title: "Guacamole & Fish",
        src: require("../assets/videos/banner-video.mp4"),
        to: "scroll",
        description: "Nam  Curabitur quis euismod.",
        price: "Usd 10",
        time: "2hr",
      },
      {
        title: "Spinach & Beans",
        src: require("../assets/videos/banner-video.mp4"),
        to: "scroll",
        description: "Nam  Curabitur quis euismod.",
        price: "Usd 12",
        time: "2hr",
      },
    ],
  }),
};
</script>

<style scoped>
.hr {
  border: 2px solid #68904F;
  width: 65px;
  margin: 0 auto;
}
.font-orange {
  font-weight: bold;
}
.p-head {
  font-size: 30px;
}
.p-head1 {
  font-size: 44px;
  font-weight: 700;
}
.icon {
  font-size: 100px;
}
.d {
  transform: scale(1.5);
}
.greyy-div {
  background-image: url(assets/images/banner.jpg);
  background-size: cover;
  height: 700px;
  width: 100vw;
}
.grey-div {
  background-color: #f3f0e8;
  width: 75vw;
  margin: 0 auto;
}
.dancing-font {
  font-family: "Dancing Script", cursive;
  font-size: 34px;
}
.green-text {
  color: #68904F;
}
.body-txt {
  font-family: "Poppins", sans-serif;
}
.hr {
  border: 2px solid #68904F;
  width: 65px;
}
.transp-card {
  background: transparent;
}
.stats-card {
  opacity: 0.8;
  height: 50vh;
  width: 75vw;
  margin: 0 auto;
  border-radius: 20px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.view-btn {
  display: none;
  position: absolute;
  bottom: 1%;
  left: 5px;
  width: 95%;
}
.view-card:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09019607843137255);
}
.view-card {
  border-radius: 5px;
}
.view-card:hover .view-btn {
  display: block;
  opacity: 1;
  background: #da2216 !important;
  color: #fff !important;
}

.view-btn:hover {
  color: #fff;
}
</style>
