@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url(~assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

html {
    font-family: "Poppins";
}
.body-txt {
    font-family: "Poppins", sans-serif;
   
  }
  
  .transparent-card {
    background: transparent;
  }  
  
  body{
    overflow-x: hidden;
}
.green-text {
  color: #68904F
}
.brown-text{
 color: #836329; 
}
.green-btn{
  background-color: #68904F !important;
}
.brown-btn{
  background-color: #836329 !important;
}
.nav {
  position: absolute;
  z-index: 4;
}
.vid {
  height: 45%;
  width: 100%;
  background-size: cover;
  background-image: url(~/assets/images/bag-farm.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.vid-text{
  height: 25%;
}
/*.vid {
  background-image: url(assets/images/tomato.jpg);
  height: 12rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}*/
.vid .view-btn{
  display: none;
}
.vid .view-btn-icon{
  display: none;
}
.vid:hover{
  opacity: 0.9;
}
.vid:hover .view-btn  {
 
  background: #da2216 !important;
}
.recipe-card-left:hover  .view-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 17px;
  
    background-color: #68904F !important;
  }
.recipe-card-left {
    display: flex;
    
    justify-content: center;
    align-content: center;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    background-image: url(assets/images/tomato.jpg);
    background-size: cover;
    background-position: bottom;
  }

  .recipe-card-left:hover{
    opacity: 0.9;
  }
  
.recipe-card-left .view-btn  {
 
  background: #da2216 !important;
}

.farm-left .view-btn  {
 
  background: #da2216 !important;
}
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  transition: width 2s;
  border-bottom: 2px solid #E5C921;
}
a:hover::before {
  
  border-bottom: 2px solid #E5C921;
}

a:active {
  text-decoration: underline;
   background-color:  #E5C921;
}

.green-text {
  color: #68904F;
}

/* CSS Used from: https://codescandy.com/geeks/assets/css/theme.min.css */
*,
:after,
:before {
  box-sizing: border-box;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #754ffe;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #3903fe;
  text-decoration: underline;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.4;
  color:#68904F;
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.col-12,
.col-lg-12,
.col-md-12,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.btn {
  display: inline-block;
  font-weight: 600;
  color: #5c5776;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #5c5776;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(117, 79, 254, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn-primary {
  color: #fff;
  background-color: #68904f;
  border-color: #68904f;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #5729fe;
  border-color: #4d1cfe;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(138, 105, 254, 0.5);
}
.btn-primary:disabled {
  color: #fff;
  background-color: #754ffe;
  border-color: #754ffe;
}
.btn-sm {
  padding: 0.5rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
.bg-white {
  background-color: #fff !important;
}
.border-white {
  border-color: #fff !important;
}
.rounded-top {
  border-top-left-radius: 0.25rem !important;
}
.rounded-top {
  border-top-right-radius: 0.25rem !important;
}
.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 0.25rem !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.shadow-sm {
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09) !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
}
.pt-16 {
  padding-top: 7.5rem !important;
}
.mt-n5 {
  margin-top: -2rem !important;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
.avatar-xl {
  width: 5rem;
  height: 5rem;
}
:focus {
  outline: 0;
}
h2 {
  letter-spacing: -0.022rem;
}
.lh-1 {
  line-height: 1;
}
.rounded-top {
  border-top-left-radius: 0.5rem !important;
}
.rounded-top {
  border-top-right-radius: 0.5rem !important;
}
.rounded-bottom {
  border-bottom-right-radius: 0.5rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 0.5rem !important;
}
.border-width-4 {
  border: 4px solid;
}
@media (max-width: 576px) {
  .rounded-none.rounded-bottom {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .rounded-none.rounded-bottom {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}