<template>
  <v-layout row>
    <v-layout column style=" z-index: 2;
  position: relative;">
      <span class="">
        <v-navigation-drawer
          width="85%"
          app
          v-model="drawer"
          disable-resize-watcher
        >
          <v-list>
            <v-list-item>
              <v-list-item-action>
                <v-avatar size="26px">
                  <img alt="Avatar" src="~assets/images/bg.webp" />
                </v-avatar>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title> Jane Doe</v-list-item-title>
                <v-list-item-subtitle class="text-wrap"
                  >janedoe1825@gmail.com</v-list-item-subtitle
                >
              </v-list-item-content>
              <v-list-item-action>
                <v-btn to="my-profile" fab icon
                  ><v-icon>mdi-chevron-right</v-icon></v-btn
                >
              </v-list-item-action>
            </v-list-item>

            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title class="text-h6">
                  Jane Doe
                </v-list-item-title>
                <v-list-item-subtitle
                  >janedoe1825@gmail.com</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list nav dense>
            <v-list-item-group v-model="selectedItem" color="primary">
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
                :to="`${item.to}`"
              >
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar flat height="100%" class="navba" color="#68904F">
          <v-toolbar-side-icon
            class="hidden-md-and-up white--text"
            @click="drawer = !drawer"
            ><v-icon color="#fff">mdi-menu</v-icon></v-toolbar-side-icon
          >

          <v-flex xs6 sm6 md2 lg2>
            <div style="" class="d-flex flex-column logo my-auto">
              <span style="text-align: center"
                ><a class="white--text" href="/" target="_self"
                  >Kitchen Uncut</a
                ></span
              >

              <span style="width: 100%">
                <hr
                  style="text-align: center; font-size: 10px"
                  class="hr-text-logo hidden-sm-and-down"
                  data-content="A HEALTHY LIFE IS A HAPPY LIFE "
                />
              </span></div
          ></v-flex>
          <v-flex xs12 sm12 md8 lg8 class="hidden-sm-and-down">
            <div>
              <div
                style="
                  display: flex;
                  justify-content:center;
                "
                
              >
                <a
                  href="/about-us"
                  class="link-btn mr-10 white--text font-weight-bold pt-2"
                  >About Us</a
                >
                <a class="dropdown link-btn mr-10 white--text font-weight-bold pt-2">
                    Services
                   
                  <div class="dropdown-content">
                    <a href="/#">Organic Farming</a>
                    <a href="/#">Healthy Recipes</a>
                    <a href="#">Our Store</a>
                  </div>
                </a>
                <a
                  href="/our-store"
                  class="link-btn mr-10 white--text font-weight-bold pt-2"
                  >Our Store</a
                >
                <a
                  href="/blog"
                  class="link-btn mr-10 white--text font-weight-bold pt-2"
                  >Blog</a
                >
                

               
              </div>
            </div>
          </v-flex>

          <v-flex xs4 sm4 md2 lg2>
            <div v-if="$auth.loggedIn" class="nav1 hidden-sm-and-down">
              <div class="my-auto">
                <a
                  href="#our-hack"
                  class="link-btn mr-2 white--text font-weight-bold pt-8"
                  >My Account</a
                >
                <a
                  href="#our-hack"
                  class="link-btn mr-2 white--text font-weight-bold"
                  >Logout</a
                >
              </div>
            </div>
            <div v-else class="d-flex justify-end">
              <v-btn text class="white--text font-weight-bold login-btn">
                Login</v-btn
              >
              <v-btn color="#E5C921" class="white--text signup-btn">
                SignUp</v-btn
              >
            </div>
          </v-flex>
        </v-toolbar>
      </span>
    </v-layout>
    <v-layout column style=" z-index: 1;
  position: relative;" justify-center align-center class="home-hero hidden-sm-and-down">
      <v-card flat  class="mx-auto" width="80%" height="100%">
        <v-flex xs12 md12 lg12 sm12>
          <client-only >
            <vue-flux
              :options="fluxOptions"
              :images="fluxImages"
              :transitions="fluxTransitions"
              :captions="fluxCaptions"
              ref="slider"
            >
            </vue-flux>

            <!--<v-btn @click="$refs.slider.show('next')">NEXT</v-btn><-->
          </client-only>
        </v-flex></v-card
      >
    </v-layout>
    <v-layout
      row
      justify-center
      align-center
      class="text-center who-we-are"
      
    >
      <v-card
        min-width="300px"
        class="d-flex abt-us-card flex-column justify-center align-center pa-4"
      >
        <v-card-text>
          <h2 class="abt-us-desc green-text">Kitchen Uncut</h2>
          <p style="text-align: justify; font-size: 16px">
            <span
              ><span style=""
                >At Kitchen uncut, we work together to ensure you receive the
                required amount of </span
              ><span style="">nutrition</span
              ><span style=""
                >&nbsp;through the foods we eat at minimal resources. Our
                recipes are designed to ensure you have a pleasant </span
              ><span style="">experience</span
              ><span style="">&nbsp;with your food.</span></span
            >
          </p>
          <v-card-actions>
            <v-btn
              block
              large
              class="abt-us-card-btn mx-auto white--text font-weight-bold"
              color="#68904F"
              >Services</v-btn
            >
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-layout>

    <v-layout id="issue" class="grey-div" column justify-center align-center>
      <v-layout
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        row
        wrap
        justify-center
        align-center
        class="mb-10"
      >
        <!--  Create Cards Based on Objects in an Array -->

        <v-flex xs12 md12 lg12 sm12>
          <v-card
            height="100%"
            flat
            class="
              d-flex
              flex-column
              justify-center
              align-center
              transparent-card
              text--center
            "
          >
          </v-card>
          <v-layout row justify-center align-center>
            <v-flex xs12 md6 lg6 sm12>
              <v-card
                flat
                style="min-width: 381px"
                class="
                  d-flex
                  flex-column
                  justify-center
                  align-center
                  transparent-card
                "
              >
                <v-layout
                  justify-center
                  align-center
                  column
                  class="text--center"
                >
                  <v-card-text class="green-text">
                    <h2 style="text-align: center">
                      <span
                        style="line-height: 3em; font-size: 32px; color:#68904F"
                        >Start Your Online
                      </span>
                      <br />
                      <span
                        style="
                          letter-spacing: 0.01em;
                          line-height: 1em;
                          font-size: 44px;
                          color: black;
                        "
                        >Class Now
                      </span>
                    </h2>
                  </v-card-text>
                  <v-card-actions class="h2">
                    <v-btn
                      large
                      class="sub-btn white--text font-weight-bold mb-10"
                      color="#68904F"
                    >
                      subscribe</v-btn
                    >
                  </v-card-actions>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs12 md6 lg6 sm12>
              <v-card class="garden-card"> </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center align-center class="">
        <!--  Create Cards Based on Objects in an Array -->

        <v-flex xs12 md12 lg12 sm12>
          <v-card
            height="100%"
            flat
            class="
              d-flex
              flex-column
              justify-center
              align-center
              transparent-card
              text-center
            "
          >
          </v-card>
          <v-layout row class="mt-8">
            <v-flex xs12 md6 lg6 sm12 class="hidden-sm-and-down">
              <v-card
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
                flat
                width="100%"
                class="food-card"
              >
              </v-card>
            </v-flex>
            <v-flex xs12 md6 lg6 sm12>
              <v-card
                flat
                style="min-width: 381px"
                height="100%"
                class="
                  d-flex
                  flex-column
                  justify-center
                  align-center
                  transparent-card
                "
              >
                <v-layout
                  justify-center
                  align-center
                  column
                  class="text--center"
                >
                  <v-card-text class="green-text">
                    <h2 style="text-align: center">
                      <span
                        style="
                          line-height: 2em;
                          letter-spacing: 0.35em;
                          font-size: 20px;
                          color:#68904F
                        "
                        >We'd love to have you</span
                      >
                      <br />
                      <span class="start-point black--text"
                        >Book a Physical Class</span
                      >
                    </h2>
                  </v-card-text>
                  <v-card-actions class="h2">
                    <v-btn
                      style="font-size: 16px; text-transform: capitalize"
                      large
                      class="white--text font-weight-bold sub-btn"
                      color="#68904F"
                    >
                      Book a Physical Class</v-btn
                    >
                  </v-card-actions>
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-layout>
    <v-layout
      style=""
      class="about-us-one"
      column
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <v-layout
        row
        justify-center
        align-center
        class="text-center pt-10"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        <v-flex xs12 sm12 md6 lg6
          ><span
            class="
              start-point
              green-text
              text-center
              font-weight-bold
              text-capitalize
            "
          >
            Great Starting Points
          </span>
        </v-flex>
      </v-layout>

      <v-layout justify-center align-center wrap class="about-us-two">
        <v-flex
          xs12
          md3
          lg3
          sm12
          order-md2
          order-sm1
          pa-2
          v-for="card in cards"
          :key="card.title"
        >
          <v-card
            flat
            class="d-flex"
            style="background: transparent"
            width="100%"
            height="100%"
          >
            <v-layout column justify-center align-center>
              <v-card
                flat
                width="332px"
                class="statistics-card"
                :style="{
                  backgroundImage: `url(${card.poster})`,
                }"
              >
              </v-card>
              <v-card-actions
                ><v-btn
                  style="width: 100%"
                  data-aos="fade-right"
                  data-aos-easing="linear"
                  data-aos-duration="1500"
                  :to="`${card.to}`"
                  color="#68904F"
                  class="start-btn mt-4 font-weight-bold"
                  >{{ card.title }}</v-btn
                ></v-card-actions
              ></v-layout
            >
          </v-card>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-layout>
</template>
<script>
let VueFlux;
let Transitions;

if (process.browser) {
  const VF = require("vue-flux");
  VueFlux = VF.VueFlux;
  Transitions = VF.Transitions;
}

export default {
  layout: "home",
  name: "home",
  components: {
    VueFlux,
  },
  transition: {
    name: "fade",
    mode: "out-in",
  },
  data() {
    return {
       select: { state: 'Florida', abbr: 'FL' },
        items: [
          { state: 'Florida', abbr: 'FL' },
          { state: 'Georgia', abbr: 'GA' },
          { state: 'Nebrska', abbr: 'NE' },
          { state: 'California', abbr: 'CA' },
          { state: 'New York', abbr: 'NY' },
        ],
      fluxTransitions: ["swipe"],
      fluxCaptions: ["Tomato", "Ingredients", "Farming"],
      fluxOptions: {
        autoplay: true,
        delay: 1000,
      },
      fluxImages: [
        require("/assets/images/tomato.jpg"),
        require("/assets/images/recipe-prep.jpg"),
        require("/assets/images/bag-farm.jpg"),
      ],
      clipped: false,
      drawer: false,
      fixed: false,

      right: true,
      rightDrawer: false,
      title: "Kitchen Uncut",
      loading: false,
      category: null,
      readMore: false,
      recipes: ["Salads", "Hot Dishes"],
      img: [{ poster: require("~/assets/images/nutrition.webp") }],
      selectedItem: 0,

      timer: null,
      currentIndex: 0,

      items: [
        { text: "Home", icon: "mdi-home", to: "/" },
        { text: "How We Grow", icon: "mdi-sprout", to: "/organic-farming" },
        { text: "How We Cook", icon: "mdi-chef-hat", to: "/all-recipes" },
        { text: "Blog", icon: "mdi-book-open", to: "/blog" },
        { text: "About Us", icon: "mdi-information", to: "/about-us" },
        { text: "Contact Us", icon: "mdi-contacts", to: "/contact-us" },
      ],
      images: [
        require("~/assets/images/carrots.jpg"),
        ,
        require("~/assets/images/tomato.jpg"),
        ,
      ],
      cards: [
        {
          to: "blog",
          title: "Beginners' Nutrition Guide",

          poster: require("~/assets/images/nutrition.webp"),
        },
        {
          to: "organic-farming",
          title: "Beginners'  Kitchen Garden Guide",

          poster: require("~/assets/images/grow.webp"),
        },

        {
          to: "all-recipes",
          title: "Beginners' Recipe Guide",
          poster: require("~/assets/images/cook.webp"),
        },
      ],
    };
  },

  mounted: function () {
    this.startSlide();
  },

  methods: {
    startSlide: function () {
      this.timer = setInterval(this.next, 2000);
    },

    next: function () {
      this.currentIndex += 1;
    },
    prev: function () {
      this.currentIndex -= 1;
    },
  },

  computed: {
    currentImg: function () {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    },
  },
};
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  user-select: none;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  user-select: none;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.solution-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.solution-video1 {
  object-fit: cover;
  width: 100%;
  height: 400px;
  margin: 0;
  top: 0;
  left: 0;
}

.dancing-font {
  font-family: "Dancing Script", cursive;
  font-size: 44px;
  font-weight: 900;
  justify-content: start;
}

.overlayText {
  position: absolute;
  color: #fff !important;
}
.overlayText1 {
  position: absolute;

  top: 0;
  z-index: 1;
}
.grey-div {
  width: 100vw;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 30px;
}

.icon {
  font-size: 100px;
  border-radius: 50%;
}
.circle {
  border: 2px solid white;
  border-radius: 50%;
}
.hr {
  border: 2px solid #68904f;
  width: 65px;
}
.signp-btn {
  border: 3px solid #fff;
}

.transparent-card {
  background: transparent;
}

.third {
  width: 100%;
  border-radius: 20px;
}
.third-outline {
  border: 3px solid #68904f;
}

.statistics-card {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  height: 400px;
  width: 332px;
  height: 470px;
  object-fit: cover;
  object-position: 50% 50%;
}
.food-card {
  background-image: url(assets/images/bfast.jpg);
  background-size: cover;
  background-position: center;
  min-width: 381px;
  height: 481px;
  object-fit: cover;
}
.garden-card {
  background-image: url(assets/images/plant.jpeg);
  background-size: cover;
  background-position: center;

  width: 381px;
  height: 481px;
  object-fit: cover;
}
.greyy-div {
  height: 700px;
  width: 100vw;
}
.hr {
  border: 2px solid #68904f;
  width: 65px;
  margin: 0 auto;
}

.p-head {
  font-size: 20px;
}
.p-head1 {
  font-size: 34px;
  font-weight: 700;
}
.content {
  margin: 100px 0 100px 0;
}
.content-1 {
  width: 100vw;
  margin-bottom: 30px;
}

.sln {
  margin: 100px 0 150px 0;
}

.wavy-div {
  margin: 50px auto;
}

.our-story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(assets/images/veggies.jpg);
  background-size: cover;

  height: 550px;
  width: 100vw;

  align-items: center;
  justify-content: center;
}

.our-story-text {
  color: #fff;

  margin: 0 auto;
}
.hero {
  width: 75vw;
  margin: 0 auto;
}

.heading-primary {
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  text-align: center;
}
.our-hack {
  margin-bottom: 100px;
}
.who-we-are {
  width: 100vw;

  height: 650px;
  background-image: url(assets/images/bg.webp);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.o-card {
  width: 50vw;
}
.about-us {
  margin-bottom: 30px;
  width: 50%;

  height: 800px;
}
.about-us-one {
  width: 100vw;
}
.about-us-two {
  width: 85%;
  padding: 40px 0;
  margin: 0 auto;
  overflow-x: hidden;
}
#ip2 {
  border-radius: 25px;

  padding: 20px;
  width: 200px;
  height: 15px;
  background-color: #fff;
}
.my-input {
  border-radius: 50px;
}
.cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hr-text-logo {
  line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  color: #68904f;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  margin: 0 auto;
}
.hr-text-logo:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  width: 95%;
  height: 1px;
}
.hr-text-logo:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #fcfcfa;
}

@media screen and (max-width: 600px) {
  .home-hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .link-btn {
    width: 10px;
    font-size: 10px;
    font-weight: bold;
  }
  .signup-btn {
    width: 10px;
    font-size: 10px;
    font-weight: bold;
  }
  .login-btn {
    width: 10px;
    font-size: 10px;
    font-weight: bold;
    
  }
  .login-btn :hover {
color: #E7CD32 !important    ;
  }
  .logo {
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    width: 100vw;
  }
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    width: 100px !important;
    margin: 0 auto;
  }
  .search-container input[type="text"] {
    display: none;
  }

  .abt-us-card .abt-us-desc {
    font-size: 27px !important;
    margin-bottom: 24px !important;
  }
  .abt-us-card .abt-us-card-btn {
    font-size: 16px;
  }
  .sub-btn {
    height: 70px;
    width: 250px;
    font-size: 16px;
  }
  .start-btn {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
  }
  .start-point {
    letter-spacing: 0.01em;
    line-height: 1em;
    font-size: 34px !important;
  }
}
@media screen and (min-width: 600px) {
}
.home-hero {
  margin: 30px;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.sub-btn {
  height: 70px;
  width: 250px;
  font-size: 16px;
}
.us-vid {
  height: 100%;
  width: 100%;
}
.start-btn {
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
}
.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
}
.search-container .search-container-icon {
  display: none;
}

.abt-us-card {
  width: 25%;
  height: 350px;
  position: relative;
  margin: auto;
}
.abt-us-card .abt-us-desc {
  font-size: 46px;
  margin-bottom: 32px;
}
.abt-us-card .abt-us-card-btn {
  font-size: 16px;
}
.start-point {
  letter-spacing: 0.01em;
  line-height: 1em;
  font-size: 44px;
}
</style>
