<template>
  <!--  Create Cards Based on Objects in an Array -->

  <v-layout column justify-center align-centerstyle="width:100vw">
    <v-card
      flat
      style="background: transparent"
      width="65%"
      height="100%"
      class="mx-auto"
    >
      <v-layout>
        <v-card
          style="background: transparent"
          flat
          width="100%"
          height="100%"
          class="d-flex flex-column profile-card"
        >
          <div class="align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
              <!-- Bg -->
              <div class="pt-16 rounded-top add-course"></div>
              <div
                class="
                  d-flex
                  align-items-end
                  justify-content-between
                  bg-white
                  px-4
                  pt-2
                  pb-4
                  rounded-none rounded-bottom
                  shadow-sm
                "
              >
                <div class="d-flex align-items-center">
                  <div class="lh-1">
                    <h2 class="mb-0">Upload New Video</h2>
                    <p class="mb-0 d-block">
                      Just fill in the form and upload video
                    </p>
                  </div>
                </div>
                <div class="d-flex d-inline-flex">
                  <a
                    href="/admin/add-course"
                    class="
                      btn btn-primary btn-sm
                      d-none d-md-block
                      mr-2
                      white--text
                      font-weight-bold
                    "
                    >Back to Course</a
                  >
                  <v-btn
                    @click="uploadVideo"
                    color="#68904f"
                    class="white--text font-weight-bold"
                    >Save</v-btn
                  >
                </div>
              </div>
            </div>
          </div>
        </v-card></v-layout
      >
      <v-layout
        wrap
        class=""
        style="width: 98%; padding-bottom: 16px; margin: 0 auto"
      >
        <v-card width="100%" height="100%" class="">
          <v-layout column style="padding: 20px">
            <v-col md="12" xs="12" sm="12">
              <v-row><h3>New Course Video</h3></v-row></v-col
            >
            <v-form @submit.prevent="sendFile" enctype="multipart/form-data">
              <v-container>
                <v-row>
                  <v-col md="6" xs="12" sm="12">
                    Name
                    <v-text-field
                      v-model="video.name"
                      dense
                      outlined
                      placeholder="Name"
                      required
                    ></v-text-field> </v-col
                  ><v-col md="6" xs="12" sm="12">
                    Slug
                    <v-text-field
                      v-model="video.slug"
                      dense
                      outlined
                      placeholder="Video"
                      required
                    ></v-text-field> </v-col
                ></v-row>
                <v-row>
                  <v-col md="6" xs="12" sm="12">
                    <v-col md="12" xs="12" sm="12">
                      <h3 class="text-left">
                        Upload Video&nbsp<span style="font-size: 10px">
                          *Webm formats only</span
                        >
                      </h3>
                      <input
                        class="mb-2"
                        ref="vid"
                        type="file"
                        name="upload"
                        @change="handleFileUpload($event)"
                        accept="video/*"
                      />

                      <video
                        id="video-preview"
                        width="100%"
                        controls
                        v-show="file != ''"
                      />
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        />
                      </template>
                    </v-col>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-layout>
        </v-card>
      </v-layout>
    </v-card>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  name: "add-course-video",
  layout: "default",
  data: () => ({
    video: [
      {
        name: "",

        slug: "",
      },
    ],
  }),
  mounted() {
   /* axios
      .get(
        "https://kitchen-uncut.herokuapp.com/courses/course?id=2b5f8109-8f7c-4673-8ddb-2a856475660b",
        {}
      )
      .then((res) => {
        console.log(res);
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.error(error);
      });*/
  },
  methods: {
    
    sendFile() {
      const formData = new FormData();
      formData.append("file", this.imgInp);
      console.log(formData);
      axios
        .post("3.125.12.123:8008/courses/upload", { name: this.video.name,
          slug: this.video.slug,
          video: formData,
          uploaded_by: 1,
          course: "2b5f8109-8f7c-4673-8ddb-2a856475660b", })

        .then((res) => {})
        .catch((err) => console.log(err.response.data));

    
      
    },
   
    previewVideo() {
      let video = document.getElementById("video-preview");
      let reader = new FileReader();

      reader.readAsDataURL(this.file);
      reader.addEventListener("load", function () {
        video.src = reader.result;
        console.log({"file" : video.src})
      });
    },
    handleFileUpload(event) {
      this.file = event.target.files[0];
      console.log(this.file);
      this.previewVideo();
    },
    uploadVideo() {
      axios
        .post("3.125.12.123:8008/courses/upload_video", {
          name: this.video.name,
          slug: this.video.slug,
          video: this.formData,
          uploaded_by: 1,
          course: "240bfe98-bfc9-409f-9836-252f3f6a3243",
        })
        .then(
          (response) => {
            //this.coordinates = response.data;
            this.alert = { type: "success", message: "successful" };
            console.log("response", response);
          },
          (error) => {
            console.log(error);
          }
        );
         this.$router.push(
        this.$router.push({
          name: "admin",
        })
      );
    },
  },
};
</script>

<style scoped>
.poster-vid {
  height: 100px;
}
.add-course {
  background-image: url(~/assets/images/dash-bg.svg);
  background-size: cover;
  background-color: #68904f;
}
.profile-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.admin-col {
  display: flex;
  flex-direction: column;

  width: 85%;
  height: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904F;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.sum-card {
  border-radius: 8px;
}
.pagination {
  width: 100%;
}
.banner-div {
  height: 100px;
}
</style>
