<template>
  <v-layout column class="base">
    <v-layout class="top-level mb-2"
      ><v-flex xs12 sm12 md12 lg12 style="background-color: #68904f">
        <!--  Create Cards Based on Objects in an Array -->

        <v-layout class="top-nav-container" wrap>
          <v-flex xs12 md4 lg4 sm12 style="">
            <v-card flat class="d-flex flex-column farm-left">
              <div class="white--text">
                <v-btn icon class="white--text view-btn"
                  ><v-icon class="view-btn-icon">mdi-play</v-icon></v-btn
                >
              </div>
            </v-card></v-flex
          >
          <v-flex xs12 md8 lg8 sm12 style="">
            <v-card
              flat
              width="100%"
              class="transp-card d-flex flex-column recipe-card-right"
            >
              <div class="ml-8 white--text">
                <v-list style="background: transparent">
                  <v-list-item>
                    <v-list-item-action>
                      <h2 class="white--text">
                        Title : {{ this.course.name }}
                      </h2>
                    </v-list-item-action>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-action>
                      <h2 class="white--text">Code : {{ this.course.code }}</h2>
                    </v-list-item-action>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title class="white--text"
                        >{{ this.course.description }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </div>
            </v-card></v-flex
          >
        </v-layout>
      </v-flex></v-layout
    >
    <v-layout column wrap class="top-level-one">
      <!--  Create Cards Based on Objects in an Array -->

      <v-flex xs12 md8 lg8 sm12 style="">
        <v-card class="nav-card" flat style="background: transparent">
          <v-layout
            column
            style="
              padding-bottom: 30px;
              border-bottom: solid 1px #dcdee1;
              margin-bottom: 30px;
              width: 100%;
            "
            class="nav-links"
          >
            <div id="organic-farming-description">
              <h1></h1>
            </div>

            <div class="item-div pa-2 d-flex justify-space-between">
              <h2>Lessons</h2>
              <h2>{{ course.duration }} hr</h2>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-btn small icon outlined>
                  <v-icon class="link-icon"> mdi-play</v-icon>
                </v-btn>
                Intro</a
              >
              <p class="pa-2">1.30</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> Soil
                preparations</a
              >
              <p class="pa-2">2.00</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> Procedure</a
              >
              <p class="pa-2">1.22</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> Modern
                organic kitchen Garden Types</a
              >
              <p class="pa-2">1.22</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> How to
                select seeds</a
              >
              <p class="pa-2">1.22</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> How to
                plants seeds and Seedligs
              </a>
              <p class="pa-2">5.33</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> Pest and
                diseases control</a
              >
              <p class="pa-2">5.33</p>
            </div>
            <div class="item-div pa-2 d-flex justify-space-between">
              <a class="black--text" href="#home"
                ><v-icon class="link-icon pr-2"> mdi-lock </v-icon> Final
                Thoughts</a
              >
              <p class="pa-2">5.33</p>
            </div>
          </v-layout>
          <v-layout
            row
            wrap
            style="stat-row display:flex; justify-content:space-around; margin: 0 auto;"
          >
            <v-flex xs4 md4 lg4 sm4>
              <v-card flat class="stat"><v-icon>mdi-poll</v-icon> </v-card>
            </v-flex>
            <v-flex xs4 md4 lg4 sm4>
              <v-card flat class="stat"
                ><h2>{{ course.views }}</h2>
                <p>Views</p></v-card
              >
            </v-flex>
            <v-flex xs4 md4 lg4 sm4>
              <v-card flat class="stat"
                ><h2>536</h2>

                <p>Completed</p></v-card
              >
            </v-flex>
          </v-layout>
          <v-layout
            column
            style="
              padding-top: 30px;
              border-top: solid 1px #dcdee1;
              margin-top: 30px;
              width: 100%;
            "
            class="mb-8"
          >
            <v-card flat style="background: transparent">
              <v-card-text>
                <v-card-title class="black--text font-weight-bold"
                  >About This Class</v-card-title
                >
                <v-card-subtitle class="mt-2 mb-2">
                  {{ course.about }}
                </v-card-subtitle>

                <v-card-title class="black--text font-weight-bold"
                  >Meet Your Instructor</v-card-title
                >

                <v-list style="background: transparent">
                  <v-list-item>
                    <v-list-item-action>
                      <v-avatar size="36px">
                        <img alt="Avatar" src="~assets/images/bg.webp" />
                      </v-avatar>
                    </v-list-item-action>

                    <v-list-item-content>
                      <v-list-item-title>Jane Doe</v-list-item-title>
                      <v-list-item-title
                        >Chef, artist and media personality</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-list>

                <v-card-subtitle>
                  Find what fascinates you as you explore our farming classes.
                  Find what fascinates you as you explore our farming classes.
                  Find what fascinates you as you explore our farming classes.
                  Find what fascinates you as you explore our farming classes.
                </v-card-subtitle>

                <v-card-title class="black--text font-weight-bold"
                  >Course Reviews</v-card-title
                >
              </v-card-text>

              <v-card
                flat
                outlined
                class="ma-2 review-card mx-auto"
                width="95%"
                style="background: transparent"
                v-for="(review,id) in reviews"
                :key="id"
              >
             
                <v-list
                  style="background: transparent"
                  three-line
                  width="100%"
                  height="130"
                >
                  <v-list-item>
                    <v-list-item-avatar>
                      <img />
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="review.reviewer"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-text="review.message"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-rating
                        v-model="rating"
                        background-color="white"
                        color="yellow accent-4"
                        dense
                        half-increments
                        hover
                        size="18"
                      ></v-rating>
                    </v-list-item-action>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-card>
          </v-layout> </v-card
      ></v-flex>
      <v-flex xs12 md4 lg4 sm12 class="floating-card">
        <v-card class="signup">
          <v-layout column class="auth-card">
            <v-card-title class="mx-auto mt-4">Get Started</v-card-title>
            <div class="d-flex d-inline-flex mx-auto">
              <v-btn icon color="#DF4930" outlined class="signup-btn">
                <v-icon small class="">mdi-google</v-icon>
              </v-btn>
              <v-btn icon color="#3b5998" outlined class="signup-btn">
                <v-icon small>mdi-facebook</v-icon>
              </v-btn>
              <v-btn icon color="#00acee " outlined class="signup-btn"
                ><v-icon small>mdi-twitter</v-icon>
              </v-btn>
            </div>
            <div style="width: 100%" class="d-flex d-inline-flex ma-2">
              <hr class="hr-text" data-content="or" />
            </div>

            <v-card-text class="text-center">
              <p class="mx-auto">
                By signing up you agree to Kitchen Uncut's
                <a href="#">Terms of Service</a> and
                <a href="#">Privacy Policy.</a>
              </p>
            </v-card-text>
          </v-layout>
        </v-card></v-flex
      >
    </v-layout>
  </v-layout>
</template>
  <script>
import axios from "axios";
export default {
  name: "organic-farming-description",
  layout: "default",
  //props:['id'],
  data() {
    return {
      video:[],
      course: [],
      rating: 4.3,
      reviews: [
      
      ],
      address: "",
      bindProps: {
        mode: "international",
        placeholder: "Phone number",
        required: false,
        enabledCountryCode: true,
        enabledFlags: true,
        autocomplete: "off",
        name: "telephone",
        maxLen: 25,
        inputOptions: {
          showDialCode: false,
        },
      },
      errors: [],
      valid: false,
      userInfo: {
        fname: "",
        lname: "",
        email: "",
        phone: null,
        password: "",
      },
      country: null,
      form: {
        min: 18,
        max: 100,
      },
      number: 0,
      emailrules: {
        required: (value) => !!value || "Required.",
        counter: (value) => value.length <= 20 || "Max 20 characters",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
      show1: false,
      passrules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
      password: "Password",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailMatch: () => `The email and password you entered don't match`,
        min: (v) => v >= this.form.min || `The Min is ${this.form.min}`,
        max: (v) => v <= this.form.max || `The Max is ${this.form.max}`,
      },
    };
  },

  mounted() {
    this.getCourseDetails();
   this.getCourseVideo();
   this.getCourseReviews();
  },
  methods: {
    getCourseVideo() {
      axios
        .post("3.125.12.123:8008/courses/get_course_videos", {
          course: this.$route.params.id,
        })

        .then((response) => {
          this.video = response.data.data[0];
          console.log(response);
        });
    },
    getCourseReviews(){
      
      axios
        .post("3.125.12.123:8008/courses/get_course_reviews", {
          course: this.$route.params.id,
        })

        .then((response) => {
          this.reviews = response.data.data;
          console.log(this.reviews);
        });

    },
    getCourseDetails() {
      axios
        .post("3.125.12.123:8008/courses/get_course", {
          course: this.$route.params.id,
        })
        .then((res) => {
          console.log(res);
         this.course = res.data.data;

         
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
.green-text {
  color: #68904F;
}

.recipe-hr {
  border: solid 1px #dcdee1;
  width: 100%;
}
.transp-card {
  background: transparent;
}
.farming-top-nav {
  height: auto;
  margin: 0 auto;
  padding: 50px;
  width: 50vw;
}

.what-youll-learn {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  height: 350px;
  width: 100%;
}
.what-youll-learn-img {
  height: 100%;
  width: 100%;
  border-radius: 8px 0 0 8px;
  background-image: url(assets/images/tomato.jpg);
  background-size: cover;
  background-position: bottom;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.view-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view-card:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09019607843137255);
}
.view-card {
  border-radius: 5px;
}
.view-card:hover .view-btn {
  display: block;
  opacity: 1;
  background: #da2216 !important;
  color: #fff !important;
}
.why-us-card {
  width: 75vw;
}
.recipe-list {
  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904F;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 100%;
}
.max-width {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.nav-links {
  width: 100%;
}
.top-level {
  width: 100vw;

  height: 350px;
}
.top-level-one {
  width: 50vw;
  margin: 0 20%;
}
.center-col {
  width: 75vw;
  margin: 0 auto;
  background: olive;
}
.auth-card {
  margin: 0 auto;
  border-radius: 8px;
  height: 100%;
  width: 75%;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
.signup-btn {
  display: inline-flex;
  margin: 8px;
}
.nav-card {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: width 2s;
}

a:active {
  text-decoration: underline;
}
.item-div {
  width: 100%;
}
.item-div:hover {
  background-color: #addc8e;
}
.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-text {
  width: 100%;
  line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  color: #68904F;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  width: 95%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #fcfcfa;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 144px;
  height: 110px;
  border-radius: 8px;
}
.farm-left {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  height: 200px;
  width: 100%;

  background-image: url(assets/images/tomato.jpg);
  background-size: cover;
  background-position: bottom;
}
@media screen and (max-width: 600px) {
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .base {
    background-color: #f5f5f5;
  }
  .top-level-one {
    width: 100vw;
    margin: 0 auto;
  }
  .top-level {
    width: 100vw;
    margin: 0 auto;
  }
  .stat {
    width: 130px;
    height: 100px;
    margin: 4px;
  }
  .stat-row {
    padding: 2px;
  }
  .banner-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }
  .banner-card {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .heading-text {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }
  .top-nav-container {
    width: 100vw;
    margin: 1px;
  }
  .recipe-card-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    height: 200px;

    border-radius: 8px;
  }
}
@media screen and (min-width: 600px) {
  .floating-card {
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 3;
  }
  .base {
    background-color: #f5f5f5;
  }
  .stat {
    margin: 8px;
  }
  .banner-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
  }
  .banner-card {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
  }
  .top-nav-container {
    width: 50vw;
    margin: 30px 20% 0 20%;
  }
}
</style>

