<template>
  <!--  Create Cards Based on Objects in an Array -->

  <v-layout column justify-center align-centerstyle="width:100vw">
    <v-card
      flat
      style="background: transparent"
      width="65%"
      height="100%"
      class="mx-auto"
    >
      <v-layout>
        <v-card
          style="background: transparent"
          flat
          width="100%"
          height="100%"
          class="d-flex flex-column profile-card"
        >
          <div class="align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
              <!-- Bg -->
              <div class="pt-16 rounded-top add-course"></div>
              <div
                class="
                  d-flex
                  align-items-end
                  justify-content-between
                  bg-white
                  px-4
                  pt-2
                  pb-4
                  rounded-none rounded-bottom
                  shadow-sm
                "
              >
                <div class="d-flex align-items-center">
                  <div class="lh-1">
                    <h2 class="mb-0">To Add New Course</h2>
                    <p class="mb-0 d-block">
                      Just fill in the form and create your courses
                    </p>
                  </div>
                </div>
                <div class="d-flex d-inline-flex">
                  <a
                    href="/admin/add-course"
                    class="
                      btn btn-primary btn-sm
                      d-none d-md-block
                      mr-2
                      white--text
                      font-weight-bold
                    "
                    >Back to Course</a
                  >
                  <v-btn
                    @click="next"
                    color="#68904f"
                    class="white--text font-weight-bold"
                    >Next</v-btn
                  >
                </div>
              </div>
            </div>
          </div>
        </v-card></v-layout
      >----
      <v-layout
        wrap
        class=""
        style="width: 98%; padding-bottom: 16px; margin: 0 auto"
      >
        <v-card width="100%" height="100%" class="">
          <v-layout column style="padding: 20px">
            <v-col md="12" xs="12" sm="12">
              <v-row><h3>New Course</h3></v-row></v-col
            >
            <v-form v-model="valid">
              <v-container>
                <v-row>
                  <v-col cols="12" md="6">
                    Name
                    <v-text-field
                      hint="Please enter couse name here"
                      persistent-hint
                      v-model="course.name"
                      dense
                      outlined
                      placeholder="Course Name"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    Category
                    <v-select
                      v-model="course.chosen"
                      :items="options"
                      item-text="name"
                      item-value="id"
                      return-object
                      single-line
                      outlined
                      dense
                      placeholder="Search Categories..."
                      label="name"
                    >
                    </v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    Short Description
                    <v-text-field
                      v-model="course.description"
                      hint="Enter a short description "
                      persistent-hint
                      dense
                      outlined
                      placeholder="Description"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    Course Code
                    <v-text-field
                      v-model="course.code"
                      hint="Input course code "
                      persistent-hint
                      dense
                      outlined
                      placeholder="Code"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" md="4">
                    Currency 
                    <v-select
                      v-model="course.currency"
                      outlined
                      dense
                      color="#836329"
                      :items="curr"
                      item-text="name"
                      item-value="id"
                      placeholder="Select Currency"
                      persistent-hint
                      return-object
                      single-line
                    ></v-select> </v-col
                  ><v-col cols="12" md="4">
                    Price 
                    <v-text-field
                      hint="Please enter price"
                      persistent-hint
                      v-model="course.price"
                      type="number"
                      dense
                      outlined
                      placeholder="Price"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    Slug
                    <v-text-field
                      hint="Please enter a slug here"
                      persistent-hint
                      v-model="course.slug"
                      dense
                      outlined
                      placeholder="Slug"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-layout>
        </v-card>
      </v-layout>
      -------
      <v-layout
        wrap
        class=""
        style="width: 98%; padding-bottom: 16px; margin: 0 auto"
      >
        <v-card width="100%" height="100%" class="">
          <v-layout column style="padding: 20px">
            <v-col md="12" xs="12" sm="12">
              <v-row><h3>New Course</h3></v-row></v-col
            >
            <v-form v-model="valid">
              <v-container>
                <v-row>
                  <v-col cols="12" md="6">
                    Course Outline
                    <v-textarea
                      v-model="course.outline"
                      auto-grow
                      rows="3"
                      row-height="25"
                      hint="This is where you write the course outline "
                      persistent-hint
                      color="836329"
                      outlined
                      placeholder="Course Outline"
                      required
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="6">
                    Detailed Description
                    <v-textarea
                      v-model="course.about"
                      auto-grow
                      rows="3"
                      row-height="25"
                      hint="Enter a detailed description about this course "
                      persistent-hint
                      color="836329"
                      outlined
                      placeholder="Course Long Description"
                      required
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-layout>
        </v-card>
      </v-layout>
    </v-card>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  name: "add-course-details",
  layout: "default",
  data: () => ({
    step: 1,

    items: [],
    curr: [],
    options: [],

    course: [
      {
        name: "",
        description: "",
        price: 0,
        currency: "",
        code: "",
        slug: "",
        chosen: "",
        outline: "",
        about: "",
      },
    ],
  }),
  mounted() {
    this.getCategories();
    this.getCurrency();
  },
  methods: {
    next() {
      const courseDetails = {
        name: this.course.name,
        category: this.course.chosen.id,
        slug: this.course.slug,
        description: this.course.description,
        currency: this.course.currency.id,
        code: this.course.code,
        price: this.course.price,
        about: this.course.about,
        cstate: this.course.chosen.state,
      };
      this.$store.commit("SET_COURSE_DETAILS", courseDetails);
      this.$router.push(
        this.$router.push({
          name: "admin-add-course-details-add-course-cover",
        })
      );
    },
    getCategories() {
      axios
        .get("3.125.12.123:8008/base/section/")
        .then((res) => {
          let recipesObject = {};
          recipesObject.id = res.data.results[0].id;
          recipesObject.name = res.data.results[0].name;
          recipesObject.state = res.data.results[0].state;
          this.options.push(recipesObject);
          let farmingObject = {};
          farmingObject.id = res.data.results[1].id;
          farmingObject.name = res.data.results[1].name;
          farmingObject.state = res.data.results[1].state;
          this.options.push(farmingObject);
          console.log(res.data.results);

          console.log(this.options);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getCurrency() {
      axios
        .get("3.125.12.123:8008/base/currency/")
        .then((res) => {
          let usdObject = {};
          usdObject.id = res.data.results[0].id;
          usdObject.name = res.data.results[0].name;
          usdObject.state = res.data.results[0].state;
          this.curr.push(usdObject);
          let kshObject = {};
          kshObject.id = res.data.results[1].id;
          kshObject.name = res.data.results[1].name;
          kshObject.state = res.data.results[1].state;
          this.curr.push(kshObject);
          console.log(res.data.results);

          console.log(this.curr);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
.poster-vid {
  height: 100px;
}
.add-course {
  background-image: url(~/assets/images/dash-bg.svg);
  background-size: cover;
  background-color: #68904f;
}
.profile-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.admin-col {
  display: flex;
  flex-direction: column;

  width: 85%;
  height: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904F;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.sum-card {
  border-radius: 8px;
}
.pagination {
  width: 100%;
}
.banner-div {
  height: 100px;
}
</style>
