<template>
  <v-container fluid style="background-color: #f5f5f5">
    <v-layout column class="admin-col">
      <v-layout row>
        <v-flex xs12 sm12 md10 lg10 style="margin: 0 auto">
          <!--  Create Cards Based on Objects in an Array -->

          <v-layout column justify-center align-center class="right-col">
            <v-layout style="width: 100%">
              <v-card
                style="background: transparent"
                flat
                width="100%"
                height="100%"
                class="d-flex flex-column profile-card"
              >
                <div class="align-items-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <!-- Bg -->
                    <div class="pt-16 rounded-top add-course"></div>
                    <div
                      class="
                        d-flex
                        align-items-end
                        justify-content-between
                        bg-white
                        px-4
                        pt-2
                        pb-4
                        rounded-none rounded-bottom
                        shadow-sm
                      "
                    >
                      <div class="d-flex align-items-center">
                        <div
                          class="
                            mr-2
                            position-relative
                            d-flex
                            justify-content-end
                            align-items-end
                            mt-n5
                          "
                        >
                          <img
                            src="https://codescandy.com/geeks/assets/images/avatar/avatar-1.jpg"
                            class="
                              avatar-xl
                              rounded-circle
                              border-width-4 border-white
                              position-relative
                            "
                            alt=""
                          />
                          <a
                            href="#!"
                            class="position-absolute top-0 right-0"
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Verified"
                          >
                            <img
                              src="https://codescandy.com/geeks/assets/images/svg/checked-mark.svg"
                              alt=""
                              height="30"
                              width="30"
                              class=""
                            />
                          </a>
                        </div>
                        <div class="lh-1">
                          <h2 class="mb-0">Jenny Wilson</h2>
                          <p class="mb-0 d-block">@Jennywilson</p>
                        </div>
                      </div>
                      <div>
                        <a
                          href="/admin/add-course-details"
                          class="
                            btn btn-primary btn-sm
                            d-none d-md-block
                            white--text
                            font-weight-bold
                          "
                          >Upload New Course</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </v-card></v-layout
            >
            <v-layout wrap class="" style="width: 100%; padding-bottom: 16px">
              <v-layout
                column
                class="hidden-sm-and-down"
                style="width: 30%; height: 100%"
                ><v-flex xs12 md2 lg2 sm12 class="mr-6">
                  <v-card
                    flat
                    class="left-nav pa-2"
                    height="700px"
                    width="100%"
                  >
                    <v-list nav dense>
                      <v-list-item-group v-model="selectedItem" color="primary">
                        <v-list-item
                          v-for="(item, i) in items"
                          :key="i"
                          :to="`${item.to}`"
                        >
                          <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                          </v-list-item-icon>

                          <v-list-item-content>
                            <v-list-item-title
                              v-text="item.text"
                            ></v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list> </v-card></v-flex
              ></v-layout>
              <v-layout column style="width: 70%; height: 700">
                <v-card
                  flat
                  width="100%"
                  style="background: transparent"
                  class="d-flex flex-column mb-4"
                >
                  <v-flex xs12 md12 lg12 sm12>
                    <v-layout column style="width: 100%; margin: 0 auto">
                      <v-layout wrap>
                        <v-flex xs12 md4 lg4 sm12 pa-1>
                          <v-card color="" class="d-flex flex-column sum-card">
                            <v-card-text
                              style="line-height: 2em; font-size: 16px"
                              class="my-auto"
                            >
                              <div class="d-flex justify-space-between">
                                <span
                                  class="
                                    mb-0
                                    font-size-xs
                                    text-uppercase
                                    font-weight-semi-bold
                                    text-left
                                    black--text
                                  "
                                >
                                  total COURSES
                                </span>
                              </div>
                              <div>
                                <h1 style="font-size: 1.5rem" class="text-left">
                                  44<br />
                                </h1>
                              </div>
                              <div
                                class="
                                  d-flex
                                  justify-space-between
                                  align-center
                                "
                              >
                                <span style="font-size: 0.875rem"
                                  >This Month</span
                                >
                                <v-btn
                                  width="80px"
                                  disabled
                                  x-small
                                  class="text-left font-weight-bold black--text"
                                >
                                  This month
                                </v-btn>
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-flex>
                        <v-flex xs12 md4 lg4 sm12 pa-1>
                          <v-card color="" class="d-flex flex-column sum-card">
                            <v-card-text
                              style="line-height: 2em; font-size: 16px"
                              class="my-auto"
                            >
                              <div class="d-flex justify-space-between">
                                <span
                                  class="
                                    mb-0
                                    font-size-xs
                                    text-uppercase
                                    font-weight-semi-bold
                                    text-left
                                    black--text
                                  "
                                >
                                  Completed
                                </span>
                              </div>
                              <div>
                                <h1 style="font-size: 1.5rem" class="text-left">
                                  2<br />
                                </h1>
                              </div>
                              <div
                                class="
                                  d-flex
                                  justify-space-between
                                  align-center
                                "
                              >
                                <span style="font-size: 0.875rem"
                                  >This Month</span
                                >
                                <v-btn
                                  width="80px"
                                  disabled
                                  x-small
                                  class="text-left font-weight-bold black--text"
                                >
                                  This month
                                </v-btn>
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-flex>
                        <v-flex xs12 md4 lg4 sm12 pa-1>
                          <v-card color="" class="d-flex flex-column sum-card">
                            <v-card-text
                              style="line-height: 2em; font-size: 16px"
                              class="my-auto"
                            >
                              <div class="d-flex justify-space-between">
                                <span
                                  class="
                                    mb-0
                                    font-size-xs
                                    text-uppercase
                                    font-weight-semi-bold
                                    text-left
                                    black--text
                                  "
                                >
                                  Pending
                                </span>
                              </div>
                              <div>
                                <h1 style="font-size: 1.5rem" class="text-left">
                                  {{this.count}}<br />
                                </h1>
                              </div>
                              <div
                                class="
                                  d-flex
                                  justify-space-between
                                  align-center
                                "
                              >
                                <span style="font-size: 0.875rem"
                                  >This Month</span
                                >
                                <v-btn
                                  width="80px"
                                  disabled
                                  x-small
                                  class="text-left font-weight-bold black--text"
                                >
                                  This month
                                </v-btn>
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-flex>
                      </v-layout></v-layout
                    ></v-flex
                  ></v-card
                >
                <v-card width="100%" class="d-flex flex-column mb-4">
                  <v-flex xs12 md12 lg12 sm12>
                    <v-layout column style="width: 100%; margin: 0 auto">
                      <v-layout wrap>
                        <v-flex xs12 sm12 md12 lg12>
                          <v-card-title class="text-left body-txt">
                            My Courses
                          </v-card-title></v-flex
                        >

                        <!--  Create Cards Based on Objects in an Array -->
                        <v-flex
                          xs12
                          md12
                          sm12
                         
                        >
                        <v-layout
          column
          style="
            border-top: solid 1px #dcdee1;
            margin-top: 30px;
            width: 100%;
            padding: 20px;
          "
          class="mb-8"
        >
         

          <v-card
            flat
            color="#fff"
            class="d-flex flex-column"
            width="100%"
            height="100%"
            style="padding: 20px; border-radius: 8px"
          >
            <v-layout column>
              <v-layout
                style="width: 100%; padding: 5px"
                v-for="course in my_courses"
                :key="course.title"
              >
                <v-layout wrap>
                  <v-flex xs12 sm12 md2 lg2>
                    <v-img
                      height="75%"
                      class="mr-6"
                      :src="`${course.avatar}`"
                    ></v-img>
                  </v-flex>
                  <v-flex xs12 sm12 md6 lg6
                    ><span style="width: 100%" class="">
                      <a href="#" class="black--text text--center">
                        {{ course.title }}</a
                      > </span
                    ><span
                      style="width: 100%"
                      class="mr-2 d-flex justify-space-between"
                      ><v-span
                        class="d-dlex d-inline-flex"
                        style="font-size: 12px"
                        ><v-icon small color="#836329" class="mr-1">
                          mdi-arrow-right-drop-circle </v-icon
                        ><span>Course .</span> &nbsp;
                        <span>{{ course.instructor }}.</span> &nbsp;<span
                          >Beginner</span
                        ></v-span
                      >
                    </span></v-flex
                  >
                  <v-flex xs12 sm12 md4 lg4>
                    <span class="subheading mr-2 d-flex justify-space-between"
                      ><v-span
                        class="d-flex d-inline-flex"
                        style="width: 100%; font-size: 12px"
                        ><p style="font-size: 10px" class="">
                          {{ course.done_time }}
                        </p>
                        &nbsp;<span
                          class="d-flex d-inline-flex my-auto mr-2"
                          style="width: 80%"
                        >
                          <v-progress-linear
                            class="mb-4"
                            rounded
                            :value="course.skill"
                            color="#836329"
                            height="8px"
                          >
                          </v-progress-linear></span
                        ><span
                          ><p style="font-size: 10px" class="">
                            <strong>{{ course.skill }}%</strong>
                          </p></span
                        ></v-span
                      >
                    </span>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-layout>
          </v-card>
        </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-layout></v-flex
                  ></v-card
                >
                
              </v-layout></v-layout
            >

            <v-layout row class="pagination">
              <v-layout column class="d-flex justify-space-between pa-4">
                <v-layout row justify-end align-center wrap>
                  <v-pagination
                    v-model="page"
                    :length="4"
                    color="#68904F"
                    class="ma-4"
                    circle
                  ></v-pagination> </v-layout
              ></v-layout>
            </v-layout>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>
<script>
import axios from "axios";
export default {
  name: "Customer",
  layout: "default",
  data: () => ({
    page: 1,
    count: "",
    selectedItem: "",
    rating: "4.3",
    items: [
      { text: "Profile", icon: "mdi-account", to: "/customer/my-profile" },
      { text: "Security", icon: "mdi-lock", to: "/customer/security" },
      //{ text: "Notification", icon: "mdi-bell", to: "/notification" },
      { text: "My Orders", icon: "mdi-book-open", to: "/orders" },
      //{ text: "Chats", icon: "mdi-contacts", to: "/chats" },
      { text: "Sign Out", icon: "mdi-logout", to: "/logout" },
    ],
    recipe: [],
    farming: [],
    my_courses: [
        {
          avatar: require("/assets/images/coriander.jpg"),
          done_time: "1h 20m",
          title: `Seting Up your own Kitchen Garden`,
          instructor: "Jane Doe",
          skill: 20,
        },
        {
          avatar: require("/assets/images/onion.jpg"),
          done_time: "30 min",
          title: `Tomato Sautee in 30 minutes`,
          instructor: "Jane Doe",
          skill: 10,
        },
        {
          avatar: require("/assets/images/food.jpg"),
          done_time: "45 min",
          title: ` Easy Onion Stock  `,
          instructor: "Jane Doe",
          skill: 30,
        },
        {
          avatar: require("/assets/images/onion.jpg"),
          done_time: "30 min",
          title: `Tomato Farming in today `,
          instructor: "Jane Doe",
          skill: 10,
        },
        {
          avatar: require("/assets/images/food.jpg"),
          done_time: "45 min",
          title: ` Easy Onion Stock  `,
          instructor: "Jane Doe",
          skill: 30,
        },
      ],
    cards: [
      {
        src: require("~/assets/videos/banner-video.mp4"),
        to: "/organic-farming-description",
        amount: "33",
        monthly_stats: "Ksh 50,000",
      },
      {
        src: require("~/assets/videos/banner-video.mp4"),
        to: "/organic-farming-description",
        amount: "3000",
        monthly_stats: "700",
      },

      {
        src: require("~/assets/videos/banner-video.mp4"),
        to: "/organic-farming-description",
        amount: "345",
        monthly_stats: "20",
      },
    ],
    nav_item: [
      { title: "Dashboard", icon: "mdi-view-dashboard" },
      { title: "Photos", icon: "mdi-image" },
      { title: "About", icon: "mdi-help-box" },
    ],
    right: null,
  }),
  mounted() {
    this.getFarmingCourse();
    this.getRecipeCourse();
    this.getCourseCount();
  },

  methods: {
    getCourseCount() {
      axios
        .get("3.125.12.123:8008/courses/course/")
        .then((res) => {
          console.log(res);
          this.count = res.data.count;

          console.log(this.count);

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getFarmingCourse() {
      axios
        .post("3.125.12.123:8008/courses/get_section_courses", {
          section: "26d474df-7f0b-425d-938d-7fa1e8a8cf97",
        })
        .then((res) => {
          console.log(res);
          this.farming = res.data.data;

          console.log(this.farming);
          const newCourses = Object.entries(this.farming);
          //console.log(newCourses)
          this.farming.push(newCourses);
          // console.log(this.courses);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    getRecipeCourse() {
      axios
        .post("3.125.12.123:8008/courses/get_section_courses", {
          section: "1e92b3a9-5212-4fca-ae14-2af8d98ae802",
        })
        .then((res) => {
          //console.log(res);
          this.recipe = res.data.data;

          // console.log(this.courses);
          const newCourses = Object.entries(this.recipe);
          //console.log(newCourses)
          this.recipe.push(newCourses);
          console.log(this.recipe);
          for (const course of newCourses) {
            if (
              course[1]["currency"] == "a77db0dc-b2b1-4e9e-829a-8a9283835230"
            ) {
              course[1]["currency"] = "usd";
            } else course[1]["currency"] = "ksh";
            // console.log(newCourses[1]);
          }

          // console.log(newCourses[0]);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
.poster-vid {
  height: 100px;
}
.add-course {
  background-image: url(~/assets/images/dash-bg.svg);
  background-size: cover;
  background-color: #68904f;
}
.profile-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.admin-col {
  display: flex;
  flex-direction: column;

  width: 85%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
li:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #68904F;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #addc8e;
  color: white;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 100%;
}
.sum-card {
  border-radius: 8px;
}
.pagination {
  width: 100%;
}
.banner-div {
  height: 100px;
}
</style>
